<ion-header>
  <app-toolbar [showCartButton]="false"></app-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1 class="custom-title">Agendar un cita</h1>

    <form (ngSubmit)="submitAppointment()" >

      <ion-item>
          <ion-datetime
          [(ngModel)]="fechaCita"
          name="fechaCita" 
          presentation="date"
          [preferWheel]="true">
          <h3 slot="title">Fecha de la cita</h3>
        </ion-datetime>
      </ion-item>


      <!-- Selección de la hora de la cita -->
      <ion-item>
        <ion-label position="floating">Hora de la Cita</ion-label>
        <ion-select [(ngModel)]="horaCita" name="horaCita" placeholder="Seleccionar Hora">
          <ion-select-option *ngFor="let hora of horasDisponibles" [value]="hora">
            {{ hora }}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <!-- Selección del servicio -->
      <ion-item>
        <ion-label position="floating">Servicio Solicitado</ion-label>
        <ion-select [(ngModel)]="servicio" name="servicio" placeholder="Seleccionar Servicio">
          <ion-select-option *ngFor="let servicio of servicios" [value]="servicio">
            {{ servicio }}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <!-- Botón de enviar -->
      <ion-button expand="block" type="submit">Agendar Cita</ion-button>
    </form>



  <!-- Confirmación -->
  <ion-item *ngIf="confirmacion">
    <ion-label>{{ confirmacion }}</ion-label>
  </ion-item>
</ion-content>
