<ion-menu side="end" menuId="cart-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Carrito de Compras</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of cartItems$ | async">
        <ion-label>{{ item.nombre }} - €{{ item.valor }} x {{ item.cantidad }}</ion-label>
        <ion-button slot="end" (click)="removeFromCart(item.id)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
    <p>Total: €{{ cartTotal }}</p>
  </ion-content>
</ion-menu>


<ion-header>
  <app-toolbar [showCartButton]="true"></app-toolbar> 
</ion-header>

<!-- El contenido principal -->
<ion-content id="main-content">
  <div class="container">
    <h1 class="custom-title">Productos para Animales</h1>

    <ion-segment (ionChange)="setCategoriaActual($event)" [value]="categoriaActual">
      <ion-segment-button *ngFor="let categoria of categorias" [value]="categoria">
        <ion-label>{{ categoria }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let producto of productosFiltrados">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ producto.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Precio: €{{ producto.valor }}</p>
              <p>Categoría: {{ producto.categoria }}</p>
              <ion-button expand="block" (click)="addToCart(producto)">Añadir al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
