<!-- Menu del carrito -->
<ion-menu side="end" menuId="cart-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Carrito de Compras</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of cartItems$ | async">
        <ion-label>{{ item.nombre }} - €{{ item.valor }} x {{ item.cantidad }}</ion-label>
        <ion-button slot="end" (click)="removeFromCart(item.id)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
    <p>Total: €{{ cartTotal }}</p>
  </ion-content>
</ion-menu>

<!-- Header principal -->
<ion-header>
  <app-toolbar [showCartButton]="true"></app-toolbar> 
</ion-header>

<!-- Contenido principal -->
<ion-content id="main-content">
  <div class="container">
    <h1 class="custom-title">Productos para Animales</h1>

    <!-- Segmento de categorías -->
    <ion-segment (ionChange)="setCategoriaActual($event)" [value]="categoriaActual">
      <ion-segment-button *ngFor="let categoria of categorias" [value]="categoria">
        <ion-label>{{ categoria }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Grid de productos -->
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let producto of productosFiltrados">
          <ion-card>
            <!-- Contenedor de imagen con loading -->
            <div>
              <ion-img *ngIf="!isImageLoading(producto.id)" [src]="producto.imagenUrl" class="" (error)="handleImageError($event, producto)">
              </ion-img>
              <ion-spinner *ngIf="isImageLoading(producto.id)"></ion-spinner>
            </div>

            <ion-card-header>
              <ion-card-title>{{ producto.nombre }}</ion-card-title>
              <ion-card-subtitle>$ {{ producto.valor }}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p>{{ producto.categoria }}</p>
              <ion-button expand="block" (click)="addToCart(producto)">
                <ion-icon name="cart-outline" slot="start"></ion-icon>
                Añadir al carrito
              </ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>