<ion-header [translucent]="true">
  <app-toolbar [showCartButton]="false"></app-toolbar>
</ion-header>



<ion-content [fullscreen]="false"> 

  <app-swiper></app-swiper>

  <h2 class="custom-title">Bienvenido a Pet's Fancy</h2>

  <ion-list>
    <ion-item *ngFor="let producto of productos" >
      <ion-label>
        <h2>Nombre: {{producto.nombre}}</h2>
        <p>valor: {{producto.valor}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
    
  <h3 class="custom-subtitle">Principales categorías</h3>

  <div class="cards-container">
    <ion-card>
      <ion-card-header>
        <ion-icon name="pizza" class="centered-icon"></ion-icon>
        <ion-card-title>Alimentos</ion-card-title>
        <ion-button (click)="goToInventory('Alimentos')" >Pedir!</ion-button>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="nuclear" class="centered-icon"></ion-icon>
        <ion-card-title>Arenas Sanitarias</ion-card-title>
        <ion-button (click)="goToInventory('Sanitarios')" >Pedir!</ion-button>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="cards-container">
    <ion-card>
      <ion-card-header>
        <ion-icon name="medkit" class="centered-icon"></ion-icon>
        <ion-card-title>Salud e Higiene</ion-card-title>
        <ion-button (click)="goToInventory('Salud e Higiene')" >Pedir!</ion-button>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="american-football" class="centered-icon"></ion-icon>
        <ion-card-title>Juguetes</ion-card-title>
        <ion-button (click)="goToInventory('Juguetes')" >Pedir!</ion-button>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

