<ion-header [translucent]="true">
  <app-toolbar></app-toolbar>
</ion-header>

<app-swiper></app-swiper>

<ion-content [fullscreen]="false"> <!-- Aqui comienza el contenido scrollable, no funcionaba porque NO se debe mezclar con ningun componente ni con el header -->

  <h2 class="custom-title">Bienvenido a Pet's Fancy</h2>
    
  <h3 class="custom-subtitle">Principales categorías</h3>

  <div class="cards-container">
    <ion-card>
      <ion-card-header>
        <ion-icon name="pizza" class="centered-icon"></ion-icon>
        <ion-card-title>Alimentos</ion-card-title>
        <ion-button>Pedir!</ion-button>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="nuclear" class="centered-icon"></ion-icon>
        <ion-card-title>Arenas Sanitarias</ion-card-title>
        <ion-button>Pedir!</ion-button>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="cards-container">
    <ion-card>
      <ion-card-header>
        <ion-icon name="medkit" class="centered-icon"></ion-icon>
        <ion-card-title>Salud e Higiene</ion-card-title>
        <ion-button>Pedir!</ion-button>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="american-football" class="centered-icon"></ion-icon>
        <ion-card-title>Juguetes</ion-card-title>
        <ion-button>Pedir!</ion-button>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="contenedor-cita">
    <h3>Puedes agendar una cita para la peluquería aquí</h3>
    <ion-button>Pedir!</ion-button>
  </div>

</ion-content>

<app-tab></app-tab> <!-- Este componente debe estar fuera del ion-content, NUNCA dentro  -->
