
<ion-content [fullscreen]="true">

  <app-toolbar></app-toolbar>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-swiper></app-swiper>

  <h2 class="custom-title" >Bienvenido a Pet's Fancy</h2>
    
  <h3 class="custom-subtitle">Principales categorias</h3>


  <div class="cards-container">
    <ion-card>
      <ion-card-header>
        <ion-icon name="pizza" class="centered-icon"></ion-icon>
        <ion-card-title>Alimentos</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="nuclear" class="centered-icon"></ion-icon>
        <ion-card-title>Arenas Sanitarias</ion-card-title>
      </ion-card-header>
    </ion-card>

    
  </div>

  <div class="cards-container">
    <ion-card>
      <ion-card-header>
        <ion-icon name="medkit" class="centered-icon"></ion-icon>
        <ion-card-title>Salud e Higiene</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="american-football" class="centered-icon"></ion-icon>
        <ion-card-title>Juguetes</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="contenedor-cita">
    <h3>Puedes agendar una cita para la peluquería aquí</h3>
    <ion-button>Pedir!</ion-button>
  </div>


  
  <app-tab></app-tab>
  
</ion-content>
