<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="centered-container">
    <form (ngSubmit)="onSubmit()" class="centered-form">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" (ionBlur)="validateEmail()"></ion-input>
      </ion-item>
      <div *ngIf="emailError">
        <ion-text color="danger">{{ emailError }}</ion-text>
      </div>
      <ion-button expand="block" type="submit" [disabled]="!isValidEmail">
        Enviar correo de restablecimiento
      </ion-button>
    </form>
  </div>
</ion-content>