<ion-tabs>
  <ion-tab-bar slot="bottom" class="rainbow-tab-bar">
    <ion-tab-button id="main-button" class="main-button" (click)="togglePandaOptions()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- Botones ocultos en forma de dedo de panda -->
  <div id="panda-options" class="panda-options" [class.expanded]="isExpanded">
    <!-- Botones de panda aquí -->
    <ion-button class="panda-finger" id="finger-1"></ion-button>
    <ion-button class="panda-finger" id="finger-2"></ion-button>
    <ion-button class="panda-finger" id="finger-3"></ion-button>
    <ion-button class="panda-finger" id="finger-4"></ion-button>
    <ion-button class="panda-finger" id="finger-5"></ion-button>
  </div>
</ion-tabs>
