<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agendaralgo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agendaralgo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item routerLink="/cita">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Agendar Cita</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
