<ion-toolbar color="dark">
  <ion-buttons slot="start">
    <ion-button (click)="toggleSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary" class="toolbar-center">
    <img src="assets/img/icono2.jpg" class="icono-toolbar" alt="icono">
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<div class="search-container" [class.active]="searchActive">
  <ion-input placeholder="Buscar..." [(ngModel)]="searchQuery" (ionInput)="handleSearch($event)"></ion-input>
</div>