<ion-toolbar>

  <ion-buttons slot="primary" class="toolbar-center">
    <img src="assets/img/icono3.png" class="icono-toolbar" alt="icono">
  </ion-buttons>
  <ion-buttons slot="end">
    <!--
    <ion-button (click)="toggleSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>

    Switch para cambiar el modo claro/oscuro 
    <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" justify="space-between">
      Dark Mode
    </ion-toggle>
  -->
    <ng-container *ngIf="showCartButton">
      <ion-button (click)="openCartMenu()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ng-container>
  </ion-buttons>
  
</ion-toolbar>
<!--
<div class="search-container" [class.active]="searchActive">
  <ion-input placeholder="Buscar..." [(ngModel)]="searchQuery" (ionInput)="handleSearch($event)"></ion-input>
</div>
-->