<!-- registro.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="newUsuario.nombre" name="nombre" (ionInput)="crearUsuario($event, 'nombre')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores['nombre']">{{ errores['nombre'] }}</ion-text>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="newUsuario.email" name="email" type="email" (ionInput)="crearUsuario($event, 'email')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores['email']">{{ errores['email'] }}</ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="newUsuario.password" name="password" type="password" (ionInput)="crearUsuario($event, 'password')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores['password']">{{ errores['password'] }}</ion-text>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="newUsuario.telefono" name="telefono" (ionInput)="crearUsuario($event, 'telefono')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores['telefono']">{{ errores['telefono'] }}</ion-text>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="newUsuario.direccion" name="direccion" (ionInput)="crearUsuario($event, 'direccion')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores['direccion']">{{ errores['direccion'] }}</ion-text>

    <ion-button expand="full" type="submit" [disabled]="!formularioValido()">
      {{ esEdicion ? 'Guardar' : 'Registrar' }}
    </ion-button>
  </form>
</ion-content>