<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="centered-container">

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [value]="perfil.nombre" (ionChange)="crearPerfil($event, 'nombre')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores.nombre">{{ errores.nombre }}</ion-text>
  
    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input [value]="perfil.email" type="email" (ionChange)="crearPerfil($event, 'email')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores.email">{{ errores.email }}</ion-text>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [value]="perfil.password" type="password" (ionChange)="crearPerfil($event, 'password')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores.password">{{ errores.password }}</ion-text>
  
    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input [value]="perfil.telefono" type="tel" (ionChange)="crearPerfil($event, 'telefono')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores.telefono">{{ errores.telefono }}</ion-text>
  
    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input [value]="perfil.direccion" (ionChange)="crearPerfil($event, 'direccion')"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errores.direccion">{{ errores.direccion }}</ion-text>
  
    <ion-button expand="block" class="ion-margin-top" (click)="guardarCambios()" [disabled]="!formularioValido()">
      Registrarse
    </ion-button>
  </div>
</ion-content>